<div class="container">
  <ul class="nav nav-tabs" role="tablist">
    <li > <%= link_to @problem.id, problem_path(@problem) %> </li>
    <li class="active"><a href="#">μ¤λ‹µλ…ΈνΈ</a></li>
  </ul>

  <%= render 'form' %>

</div>
