<table class="table">
  <thead>
    <th>핵 번호</th>
    <th>유저 이름</th>
    <th>상태</th>
    <th>시간</th>
  </thead>

  <tbody>
    <% hacks.each do |hack| %>
      <tr>
        <td> <%= link_to hack.id, hack %> </td>
        <td> <%= link_to hack.user.email, hack.user %> </td>
        <td> <%= hack.status %> </td>
        <td> <%= created_at_with_hack(hack) %> </td>
      </tr>
    <% end %>
  </tbody>

</table>