<!-- user info -->
<div class="row">
	<div class="media">
		<a class="pull-right" href="#">
			<img class="media-object" src="" alt="">
		</a>
	<div class="media-body">

		</div>

</div> 

<!-- emblem -->
<div class="row">
	

</div>

<!-- notification -->
<div class="row">
	

</div>