<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
  	<div class="navbar-header">
  		<a class="navbar-brand" href="#">Judge</a>
  	</div>

  	<ul class="nav navbar-nav">
  		<li><a href="#">Problem</a></li>
  		<li><a href="#">Status</a></li>
  	</ul>



  </div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="jumbotron">
			  <h1>Welcome!</h1>
			  <p>&nbsp;</p>
			  <p>&nbsp;</p>
			  <p> <h3> It's our judge :D</h3> </p>			  
			</div>
		</div>
	</div>
</div>

