// Place all the styles related to the submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#submission_code {
  height: 200px;
}

.new_hack pre {
  margin-top: 0;
  height: 600px;
}

.new_hack textarea {
  height: 600px;
}